::placeholder {
    text-align: center;
}

body {
    background: #F5F5DC;
   }

#container {
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

p {
    text-align: center;
    color: #8a8181;
    font-size: 25.2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    color: #dbbb77;
    font-size: 35px;
}

u {
    color: #dbbb77;
}

input {
    font-size: 15px;
}

::-ms-reveal {
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 3px currentColor;
}

form {
    margin-left: auto;
    margin-right: auto;
    height: 310px;
    width: 36.5%;
    padding: 50px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=email], input[type=password] {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    position: relative;
    display: inline-block;
    background-color: #3b22e0;
    border-radius: 10px;
    border: rgb(255, 255, 255);
    padding: 10px;
    width: 90%;
    height: 50px;
    cursor: pointer;
    left: 5%;
    top: 170px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}